eclipse
.classpath
.gradle
.project
.settings
*.class
out/production/ArcaneBooks/mcmod.info
ArcaneBooks.iml
ArcaneBooks.ipr
ArcaneBooks.iws
src/arcanebooks/java/com/haniitsu/arcanebooks/TestClass.java
.nb-gradle