eclipse
.classpath
.gradle
.project
.settings
*.class
out/production/ArcaneBooks/mcmod.info
ArcaneBooks.iml
ArcaneBooks.ipr
ArcaneBooks.iws
.nb-gradle
src/main/java/com/haniitsu/arcanebooks/TestClass.java
